[submodule "thirdparty/homfa"]
	path = thirdparty/homfa
	url = https://github.com/virtualsecureplatform/homfa.git
[submodule "thirdparty/rapidcheck"]
	path = thirdparty/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
